.splide {
    max-width: 500px;
    height: auto;
    position: relative;
    left: 20rem;
    top: -20rem;
  }
  
.splide__slide img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; 
}
